[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
datamodel-code-generator = {extras = ["http"], version = "*"}

[requires]
python_version = "3.12"
