[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]
datamodel-code-generator = "*"
pytest = "*"

[requires]
python_version = "3.12"
